:root {
    --background-clr: white;
    --text-clr: black;
    --first-accent-clr: #F7B804;
    --second-accent-clr: #4F4742;
    --brand-name-clr: #4F4742;
    --transition-delay: all 300ms ease-in-out;
    scroll-behavior: smooth;

    --h1-clr: var(--second-accent-clr);
}

.darkmode {
    --background-clr: #0D0D0D;
    --text-clr: white;
    --brand-name-clr: white;

    --h1-clr: var(--first-accent-clr);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: var(--background-clr);
    transition: var(--transition-delay);
}

body.loading {
    overflow: hidden;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    background: var(--background-clr);
    border-bottom: 0.188em solid #BFBFBF;
    align-items: center;
    justify-content: center;
    height: 4em;
    padding: 0 2em 0 2em;
    transition: all 300ms ease-in-out;
    z-index: 999;

    .shop-name {
        color: var(--brand-name-clr);
        font-size: 2rem;
        font-weight: bold;

        span {
            color: #F7B804;
        }
    }    

    nav {
        margin: auto;
        width: auto;
        padding-left: 5em;

        .close {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 6em;
            padding: 0;
            margin: 0;

            a {
                color: var(--text-clr);
                font-size: 1.3rem;
                font-weight: bold;
                transition: .3s ease-in;
                text-align: center;

                &:hover {
                    color: #F7B804;
                }

                span {
                    color: #F7B804;
                }
            }
        }

        .Inquiry {
            display: none;
        }

        .DarkModeMenuToggle {
            display: none;
        }
        
    }

    .menu {
        display: none;
    }

    .inquire-btn {
        margin-right: 1.5em;
        color: var(--text-clr);
        font-size: 1.2rem;
        font-weight: bold;
        padding: .2em;
        border: 0.15em solid #F7B804;
        transition: .2s ease-in;

        &:hover {
            background: #F7B804;
            color: white;
        }
    }

    .DarkModeToggle {
        cursor: pointer;
        margin: 0 3.5em 0 0;
        border: none;
        background-color: inherit;
        padding: 0;
    }

}

.scroll-up {
    header {
        transform: translateY(0);
    }
}

.scroll-down {
    header {
        transform: translateY(-100%);
    }
}

.thanks {
    height: 80vh;
    padding: 5em;

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--h1-clr);
    }

    p {
        font-size: 1.5rem;
        color: var(--text-clr);
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10em;
        height: 2em;
        color: var(--text-clr);
        padding: 0;
        border: 0.2em solid;
        border-color: #4F4742;
        font-size: 1.3rem;
        font-weight: bold;
        transition: var(--transition-delay);

        &:hover {
            background: #4F4742;
            color: #F7B804;
        }
    }
}

footer {
    background: #4F4742;
    margin-top: 2em;
    padding: 3em;
    margin-bottom: -1em;
    color: white;

    .row {

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            padding: 1em;

            h2 {
                font-size: 2rem;
                font-weight: 500;
            }
        
            ul {
                list-style: none;
                padding: 0;
        
                li {
                    font-size: 1rem;
                    display: flex;
                    justify-content: left;
                    align-items: center;
        
                    a {
                        color: white;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width:991px) {

    header {
        display: flex;
        justify-content: space-between;

        .menu {
            display: block;
            cursor: pointer;
        }

        .inquire-btn {
            display: none;
        }
    
        .DarkModeToggle {
            display: none;
        }

        nav {
            position: fixed;
            right: 0;
            top: 0;
            background: #4F4742;
            height: 115vh;
            width: 40%;
            z-index: 999;
            text-transform: uppercase;
            transform: translateX(100%);
            transition: transform .5s ease-in-out;
            padding: 1em;
        
            ul {
                list-style-type: none;
                padding: 0;
                margin-top: 8em;
                flex-direction: column;
                gap: 0;
        
                a {
                    color: white;
                    padding: .75em 2em;
                    display: block;
                }
            }

            .Inquiry {
                display: block;
            }
    
            .DarkModeMenuToggle {
                display: block;
                float: right;
                margin: 3em;
                width: 2.5em;
                cursor: pointer;
                border: none;
                background-color: inherit;
                padding: 0;
            }
        
            .close {
                display: block;
                float: right;
                margin: 2em;
                width: 2.5em;
                cursor: pointer;
            }
        }

        .open-nav {
            transform: translateX(0);
        }

    }
    
}

@media only screen and (max-width:767px) {

    footer .row div {
        display: block;
    }
}

@media only screen and (max-width:575px) {

    header {
        
        .shop-name {
            font-size: 1.5rem;
        }
    }
}