:root {
    --background-clr: white;
    --text-clr: black;
    --first-accent-clr: #F7B804;
    --second-accent-clr: #4F4742;
    --brand-name-clr: #4F4742;
    --transition-delay: all 300ms ease-in-out;
    scroll-behavior: smooth;
    
}

.darkmode {
    --background-clr: #0D0D0D;
    --text-clr: white;
    --brand-name-clr: white;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body.loading {
    overflow: hidden;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    background: var(--background-clr);
    border-bottom: 0.188em solid #BFBFBF;
    align-items: center;
    justify-content: center;
    height: 4em;
    padding: 0 2em 0 2em;
    transition: all 300ms ease-in-out;
    z-index: 999;

    .shop-name {
        color: var(--brand-name-clr);
        font-size: 2rem;
        font-weight: bold;

        span {
            color: #F7B804;
        }
    }    

    nav {
        margin: auto;
        width: auto;
        padding-left: 5em;

        .close {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 6em;
            padding: 0;
            margin: 0;

            a {
                color: var(--text-clr);
                font-size: 1.3rem;
                font-weight: bold;
                transition: .3s ease-in;
                text-align: center;

                &:hover {
                    color: #F7B804;
                }

                span {
                    color: #F7B804;
                }
            }
        }

        .Inquiry {
            display: none;
        }

        .DarkModeMenuToggle {
            display: none;
        }
        
    }

    .menu {
        display: none;
    }

    .inquire-btn {
        margin-right: 1.5em;
        color: var(--text-clr);
        font-size: 1.2rem;
        font-weight: bold;
        padding: .2em;
        border: 0.15em solid #F7B804;
        transition: .2s ease-in;

        &:hover {
            background: #F7B804;
            color: white;
        }
    }

    .DarkModeToggle {
        cursor: pointer;
        margin: 0 3.5em 0 0;
        border: none;
        background-color: inherit;
        padding: 0;
    }

}

.scroll-up {
    header {
        transform: translateY(0);
    }
}

.scroll-down {
    header {
        transform: translateY(-100%);
    }
}

.container-fluid {
    padding: 0;
    background-color: var(--background-clr);
    transition: var(--transition-delay);
}

.history {
    padding-top: 5em;
    margin: auto;
    width: 85%;

    h1 {
        font-size: 2.5rem;
        color: var(--text-clr);
        padding: .5em;
    }

    p {
        font-size: 1.3rem;
        color: var(--text-clr);
        text-align: justify;
        width: 90%;
        margin: auto;

        span {
            font-weight: bold;
            color: var(--first-accent-clr);
        }
    }
}

.mission-vision {
    margin: auto;
    margin-top: 5em;
    width: 90%;

    .mission-wrapper {
        padding: 1.5em;

        .mission {
            background: var(--first-accent-clr);
            padding: 3em;
            border-radius: 35px;
            height: 30em;
    
            h1 {
                margin-top: 1em;
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 1em;
                text-align: center;
                color: var(--second-accent-clr);
            }
    
            p {
                margin-top: 3em;
                font-size: 1.5rem;
                font-style: italic;
                text-align: center;
                color: black;
            }
        }
    }

    .vision-wrapper {
        padding: 1.5em;

        .vision {
            background: var(--second-accent-clr);
            padding: 3em;
            border-radius: 35px;
            height: 30em;
    
            h1 {
                margin-top: 1em;
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 1em;
                text-align: center;
                color: var(--first-accent-clr);
            }
    
            p {
                margin-top: 3em;
                font-size: 1.5rem;
                font-style: italic;
                text-align: center;
                color: white;
            }
        }
    }
}

.owner {
    margin: auto;
    margin-top: 5em;
    width: 90%;

    .pfp {
        margin-left: -1em;
        padding: 1em;
        display: flex;
        align-items: flex-start;
        justify-content: center;


        img {
            border-radius: 20px;
        }
    }

    .content {
        padding: 1em;

        h1 {
            color: var(--brand-name-clr);
            font-size: 2.3rem;
            font-weight: bold;
        }

        .subtitle {
            color: #F7B804;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1em;
        }

        p {
            color: var(--text-clr);
            font-size: 1.5rem;
            margin-bottom: 1em;
        }

        .contacts {

            .email {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    color: var(--brand-name-clr);
                    font-size: 1.5rem;
                    margin: 0 0 0 .5em;
                }
            }

            .phone {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    color: var(--brand-name-clr);
                    font-size: 1.5rem;
                    margin: 0 0 0 .5em;
                }
            }
        }
    }
}

footer {
    background: #4F4742;
    margin-top: 7em;
    padding: 3em;
    margin-bottom: -1em;
    color: white;

    .row {

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            padding: 1em;

            h2 {
                font-size: 2rem;
                font-weight: 500;
            }
        
            ul {
                list-style: none;
                padding: 0;
        
                li {
                    font-size: 1rem;
                    display: flex;
                    justify-content: left;
                    align-items: center;
        
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width:991px) {

    header {
        display: flex;
        justify-content: space-between;

        .menu {
            display: block;
            cursor: pointer;
        }

        .inquire-btn {
            display: none;
        }
    
        .DarkModeToggle {
            display: none;
        }

        nav {
            position: fixed;
            right: 0;
            top: 0;
            background: #4F4742;
            height: 115vh;
            width: 40%;
            z-index: 999;
            text-transform: uppercase;
            transform: translateX(100%);
            transition: transform .5s ease-in-out;
            padding: 1em;
        
            ul {
                list-style-type: none;
                padding: 0;
                margin-top: 8em;
                flex-direction: column;
                gap: 0;
        
                a {
                    color: white;
                    padding: .75em 2em;
                    display: block;
                }
            }

            .Inquiry {
                display: block;
            }
    
            .DarkModeMenuToggle {
                display: block;
                float: right;
                margin: 3em;
                width: 2.5em;
                cursor: pointer;
                border: none;
                background-color: inherit;
                padding: 0;
            }
        
            .close {
                display: block;
                float: right;
                margin: 2em;
                width: 2.5em;
                cursor: pointer;
            }
        }

        .open-nav {
            transform: translateX(0);
        }

    }

    .mission-vision {

        .mission-wrapper {

            .mission {

                h1 {
                    margin: 0;
                }

                p {
                    margin: 1em;
                    font-size: 1.3rem;
                }
            }
        }

        .vision-wrapper {

            .vision {

                h1 {
                    margin: 0;
                }

                p {
                    margin: 1em;
                    font-size: 1.3rem;
                }
            }
        }
    }
    
}

@media only screen and (max-width:767px) {

    .mission-vision {
        margin: 3em;

        .mission-wrapper {

            .mission {
                height: auto;
            }
        }

        .vision-wrapper {

            .vision {
                height: auto;
            }
        }
    }

    footer .row div {
        display: block;
    }
}

@media only screen and (max-width:575px) {

    .owner .content .contacts {
        .email {
            justify-content: left;
        }

        .phone {
            justify-content: left;
        }
    }
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: var(--second-accent-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid;
    border-color: var(--first-accent-clr);
    animation: loader 2s infinite ease;
}
  
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--first-accent-clr);
    animation: loader-inner 2s infinite ease-in;
}
  
@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
}