:root {
    --background-clr: white;
    --text-clr: black;
    --first-accent-clr: #F7B804;
    --second-accent-clr: #4F4742;
    --brand-name-clr: #4F4742;
    --transition-delay: all 300ms ease-in-out;

    --btn-border-clr: var(--second-accent-clr);
    --boxbg-clr: rgba(247, 184, 4, .28);
    --map-border-clr: var(--second-accent-clr);
    scroll-behavior: smooth;
}

.darkmode {
    --background-clr: #0D0D0D;
    --text-clr: white;
    --brand-name-clr: white;

    --btn-border-clr: var(--first-accent-clr);
    --boxbg-clr: rgba(79, 71, 66, .28);
    --map-border-clr: var(--first-accent-clr);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body.loading {
    overflow: hidden;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    background: var(--background-clr);
    border-bottom: 0.188em solid #BFBFBF;
    align-items: center;
    justify-content: center;
    height: 4em;
    padding: 0 2em 0 2em;
    transition: all 300ms ease-in-out;
    z-index: 999;

    .shop-name {
        color: var(--brand-name-clr);
        font-size: 2rem;
        font-weight: bold;

        span {
            color: #F7B804;
        }
    }    

    nav {
        margin: auto;
        width: auto;
        padding-left: 5em;

        .close {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 6em;
            padding: 0;
            margin: 0;

            a {
                color: var(--text-clr);
                font-size: 1.3rem;
                font-weight: bold;
                transition: .3s ease-in;
                text-align: center;

                &:hover {
                    color: #F7B804;
                }

                span {
                    color: #F7B804;
                }
            }
        }

        .Inquiry {
            display: none;
        }

        .DarkModeMenuToggle {
            display: none;
        }
        
    }

    .menu {
        display: none;
    }

    .inquire-btn {
        margin-right: 1.5em;
        color: var(--text-clr);
        font-size: 1.2rem;
        font-weight: bold;
        padding: .2em;
        border: 0.15em solid #F7B804;
        transition: .2s ease-in;

        &:hover {
            background: #F7B804;
            color: white;
        }
    }

    .DarkModeToggle {
        cursor: pointer;
        margin: 0 3.5em 0 0;
        border: none;
        background-color: inherit;
        padding: 0;
    }

}

.scroll-up {
    header {
        transform: translateY(0);
    }
}

.scroll-down {
    header {
        transform: translateY(-100%);
    }
}

.container-fluid {
    padding: 0;
    background-color: var(--background-clr);
    transition: var(--transition-delay);
}

.hero {
    position: relative;
    top: 4em;
    margin-bottom: 5em;
    
    .herotext {
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

            
        .title {
            display: flex;
            flex-direction: column;

            h1 {
                text-align: right;
                font-size: 3rem;
                font-weight: bold;
                color: #F7B804;

                span {
                    color: var(--brand-name-clr);
                }
            }

            .subtitle {
                font-size: 1.5rem;
                text-align: right;
                color: var(--text-clr);
            }
            
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5em;
            margin-top: 4em;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10em;
                height: 2em;
                color: var(--text-clr);
                padding: 0;
                border: 0.2em solid;
                border-color: #4F4742;
                font-size: 1.3rem;
                font-weight: bold;
                transition: var(--transition-delay);

                &:hover {
                    background: #4F4742;
                    color: #F7B804;
                }
            }
        }
    }

    .slideshow {
        position: relative;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .swiper-container {
            width: 70%;
            height: auto;
            position: absolute;


            .swiper-slide {
                background-position: center;
                background-size: cover;
                border-radius: 16px;

                img {
                    display: block;
                    width: 100%;
                    border-radius: 16px;
                }
            }

            span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                background-color: #F7B804;
                opacity: 1;
            }
            
            span.swiper-pagination-bullet{
                height: 10px;
                width: 10px;
                border: 1px solid black;
                color: white;
            }
            
        }
    }
    
}

.intro {
    margin-top: 7em;

    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            text-align: left;
            padding: 3em;
            z-index: 1;
            color: var(--text-clr);
        }

        .boxbg {
            position: absolute;
            left: 0;
            height: 100%;
            width: 50%;
            background: var(--boxbg-clr);
        }
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 1.5rem;
            color: var(--text-clr);
            padding: 4em;
            text-align: left;

            span {
                color: #F7B804;
            }
        }
    }
}

.location {
    margin: 10em;

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        text-decoration: underline;
        letter-spacing: 0.125em;
        color: var(--text-clr);
    }

    iframe{
        width: 80%;
        height: 560px;
        border-radius: 10px;
        border: 0.313em solid;
        border-color: var(--map-border-clr);
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        min-height: 300px;
        padding: 0px;
    }

}

footer {
    background: #4F4742;
    margin-top: 5em;
    padding: 3em;
    margin-bottom: -1em;
    color: white;

    .row {

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            padding: 1em;

            h2 {
                font-size: 2rem;
                font-weight: 500;
            }
        
            ul {
                list-style: none;
                padding: 0;
        
                li {
                    font-size: 1rem;
                    display: flex;
                    justify-content: left;
                    align-items: center;
        
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width:991px) {

    header {
        display: flex;
        justify-content: space-between;

        .menu {
            display: block;
            cursor: pointer;
        }

        .inquire-btn {
            display: none;
        }
    
        .DarkModeToggle {
            display: none;
        }

        nav {
            position: fixed;
            right: 0;
            top: 0;
            background: #4F4742;
            height: 115vh;
            width: 40%;
            z-index: 999;
            text-transform: uppercase;
            transform: translateX(100%);
            transition: transform .5s ease-in-out;
            padding: 1em;
        
            ul {
                list-style-type: none;
                padding: 0;
                margin-top: 8em;
                flex-direction: column;
                gap: 0;
        
                a {
                    color: white;
                    padding: .75em 2em;
                    display: block;
                }
            }

            .Inquiry {
                display: block;
            }
    
            .DarkModeMenuToggle {
                display: block;
                float: right;
                margin: 3em;
                width: 2.5em;
                cursor: pointer;
                border: none;
                background-color: inherit;
                padding: 0;
            }
        
            .close {
                display: block;
                float: right;
                margin: 2em;
                width: 2.5em;
                cursor: pointer;
            }
        }

        .open-nav {
            transform: translateX(0);
        }

    }

    .hero {
        top: 0;
        margin: 0;

        .slideshow .swiper-container {
            width: 90%;
        }
    }

    .location {
        margin: 0;
    
        h1 {
            text-align: center;
        }

        iframe{
            width: 90%;
            height: auto;
        }
    
    }
    
}

@media only screen and (max-width:767px) {

    footer .row div {
        display: block;
    }

    .hero .herotext .title {

        h1 {
            text-align: center;
        }

        .subtitle {
            text-align: center;
        }
    }
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: var(--second-accent-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid;
    border-color: var(--first-accent-clr);
    animation: loader 2s infinite ease;
}
  
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--first-accent-clr);
    animation: loader-inner 2s infinite ease-in;
}
  
@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
}